*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    color: white;
}

.all{
    width: 90%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


.margin-left{
    width: 14%;
    height: 100%;
    background-color: rgba(248, 83, 97, 225);
}

.gallery-title-buy-box{
    width: 100%;
    height: 49%;
    display: flex;
    justify-content: space-between;
}

.title-buy-box{
    width: 49.2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery{
    width: 49.2%;
    height: 100%;
    background-color: dodgerblue;
}

.title{
    width: 100%;
    height: 20%;
    background-color: dodgerblue;
}

.buy-box{
    width: 100%;
    height: 76%;
    background-color: dodgerblue;
}

.center{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description{
    width: 100%;
    height: 24%;
    background-color: dodgerblue;
}

.related{
    width: 100%;
    height: 24%;
    background-color: dodgerblue;
}

.margin-right{
    width: 14%;
    height: 100%;
    background-color: dodgerblue;
}

@media screen and (max-width: 780px){
    .all{
        height: 1000px;
    }
    .gallery-title-buy-box{
        display: block;
    }
    .gallery{
        width: 100%;
    }

    .title-buy-box{
        display: block;
        width: 100%;
    }
    
    .center{
        display: block;
    }
}